{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DjangoTube{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
      <div class="nav-left">
          <a href="{% url 'home' %}"><b>DjangoTube</b></a>
          <a href="{% url 'home' %}" style="margin-left: 20px;">Ana Sayfa</a>
      </div>

      <div class="nav-center">

      </div>

      <div class="nav-right">
          {% if user.is_authenticated %}
              <a href="{% url 'upload_video' %}" class="nav-button">Video Yükle</a>
              <span>Merhaba, {{ user.name }}!</span>
              <form action="{% url 'logout' %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit">Çıkış Yap</button>
              </form>
            {% else %}
              <a href="{% url 'login' %}">Giriş Yap</a>
              <a href="{% url 'signup' %}">Kayıt Ol</a>
            {% endif %}
      </div>
  </nav>

    <div class="main-container">
        <aside class="sidebar">
          <ul>
            <li><a href="{% url 'home' %}">Ana Sayfa</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'upload_video' %}">Video Yükle</a></li>
            {% endif %}

            <li><a href="#">Shorts</a></li>
            <li><a href="#">Abonelikler</a></li>
            <li><a href="#">Geçmiş</a></li>
          </ul>
        </aside>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    </body>
</html>
